{% extends 'myapp/base.html' %}

{% block content %}
<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">{{ request.site.siteconfig.top_titile }}</h1>
    <p>{{ request.site.siteconfig.top_subtitile }}</p>
    <!-- <h4 class="mb-3">Subheading</h4>
        <a class="btn btn-primary" href="" role="button">Call to action</a> -->
</div>
<!-- Jumbotron -->
<div class="row">

    {% for item in post_list %}

    <div class="col-md-4">
        <div class="card md-4"><a href="{% url 'myapp:post_detail' item.id %}">
                {% if item.thumbnail %}
                <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="{{ item.title }}" />
                {% else %}
                <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top"alt="{{ item.title }}" />
                {% endif %}
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}<small>（{{ item.author }}）</small></h5>
                <p>{{ item.Category }}</p>
                <p class="card-text">
                    {{ item.content | safe | truncatechars_html:30 }}
                </p>
            </div>
            <a href="{% url 'myapp:post_detail' item.id %}" type="button" class="btn btn-dark btn-rounded">もっと読む</a>
        </div>
        <br>
    </div>

    {% endfor %}

</div>
{% endblock %}